<section>

  <div class="flex border-4 rounded-lg border-indigo-400 bg-red-400 mt-12 ml-12 text-xl boxes3">

    <div class="text-center text-3xl border-b-4 border-indigo-400 boxes4">
      <h1 class="border-r-4 border-indigo-400 p-4 boxes5">ID: {{id}}</h1>
      <h1 class="p-4 text-right">{{name}}'s Stats:</h1>
    </div>
  
    <div class="container flex p-6 boxes3">
      <h2 class="text-2xl ">Age: {{age}}</h2>
      <h2 class="text-2xl">Height in ft: {{height}}</h2>
      <h2 class="text-2xl">Class: {{class_name}}</h2>
      <h2 class="text-2xl">Strength: {{strength}}</h2>
      <h2 class="text-2xl">Endurance: {{endurance}}</h2>
      <h2 class="text-2xl">Charisma: {{charisma}}</h2>
      <h2 class="text-2xl">Intelligence: {{intelligence}}</h2>
      <h2 class="text-2xl">Agility: {{agility}}</h2>
    </div>

  </div>
</section>